header {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid;
    padding: 20px;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    align-items: center;
}

li {
    padding: 10px;
}

form {
    text-align: center;
    margin-top: 10px;
}

.filter {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#radio {
    display: flex;
    margin-top: 20px;
}


